#info {
	width: 384px;
}

#info h1,
#info h2,
#info p {
	margin: 0;
	font-family: 'Outfit', sans-serif;
	color: #a679ce;
	font-weight: 700;
	font-size: 2rem;
}

#info h1 {
	background: var(--bg-gradient-color-scheme);
	background-size: 200% auto;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: wave 4s linear infinite;
	font-size: 7rem;
}

@keyframes wave {
	to {
		background-position: -200% center;
	}
}

@media (max-width: 768px) {
	#info {
		text-align: center;
	}

	#info h1 {
		font-size: 6rem;
	}
}