#stack {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
}

.stack-category {
	width: 100%;
	text-align: center;
}

.stack-category h3 {
	text-transform: capitalize;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.stack-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	gap: 2rem;
	flex-wrap: wrap;
}

.stack-row .stack-category {
	flex: 1;
	min-width: 300px;
}