header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}

#actions-and-sandwich {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	header {
		justify-content: space-between;
	}
  }