#Projects {
	width: 80%;
	margin: 4rem auto;
	color: #fff;
}

.projects-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

@media (max-width: 900px) {
	.projects-list {
		grid-template-columns: 1fr;
	}
}