@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

:root {
	--bg-color: #1e293b;
	--gradient-col-1: #00ffff;
	--gradient-col-2: #098383;
	--bg-gradient-color-scheme: linear-gradient(to right, var(--gradient-col-1), var(--gradient-col-2), var(--gradient-col-1));
	--cursor-color: #00ffff;
}

[data-theme="light"] {
	--bg-color: rgb(71, 173, 221);
	--gradient-col-1: #6f5ae6;
	--gradient-col-2: #3c22d1;
	--bg-gradient-color-scheme: linear-gradient(to right, var(--gradient-col-1), var(--gradient-col-2), var(--gradient-col-1));
	--cursor-color: #306c88;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	margin: 0;
}

#root {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}