@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

:root {
	--bg-color: #1e293b;
	--bg-gradient-color-scheme: linear-gradient(to right, #00ffff, #098383, #00ffff);
}

[data-theme="light"] {
	--bg-color: rgb(71, 173, 221);
	--bg-gradient-color-scheme: linear-gradient(to right, #6fbbe5, #cfe9f7, #6fbbe5);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	margin: 0;
}

#root {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}