@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

:root {
	--bg-color: #1e293b;
}

[data-theme="light"] {
	--bg-color: rgb(71, 173, 221);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	margin: 0;
}

#root {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}