@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

:root {
	--bg-color: #1e293b;
}

[data-theme="light"] {
	--bg-color: rgb(71, 173, 221);
}

body {
	background-color: var(--bg-color);
	margin: 0;
}