.section-separator {
	width: 80%;
	max-width: 600px;
	margin: 6rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/* For absolute children */
}

.separator-line {
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: linear-gradient(to right, #ff3300, #ffff00, #ff3300);
	background-size: 200% auto;
	animation: wave 4s ease infinite;
	opacity: 0.7;
	box-shadow: 0 0 10px rgba(255, 51, 0, 0.5);
}

.sliding-box {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background-color: var(--bg-color);
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 2rem;
	padding: 0.5rem 1.5rem;
	white-space: nowrap;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.box-text {
	font-family: 'Outfit', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;

	background: linear-gradient(to right, #ff3300, #ffff00, #ff3300);
	background-size: 200% auto;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: wave 4s ease infinite;
}

@keyframes wave {
	to {
		background-position: -200% center;
	}
}